.elementor-kit-27 {
    --e-global-color-primary: #000000;
    --e-global-color-secondary: #0F625D;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #1f8a83;
    --e-global-color-50928c2: #000000;
    --e-global-color-e5c8540: #FFFFFF;
    --e-global-color-974e444: #1c7a74;
    --e-global-color-2db2ea5: #e0f7f5;
    --e-global-color-97fd0d2: #0c5c56;
    --e-global-color-0bdc31f: #238d86;
    --e-global-color-65ca4b8: #00000080;
    --e-global-typography-primary-font-family: "Inter";
    --e-global-typography-primary-font-size: 54px;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-line-height: 1.2em;
    --e-global-typography-secondary-font-family: "Inter";
    --e-global-typography-secondary-font-size: 32px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.3em;
    --e-global-typography-text-font-family: "Inter";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Inter";
    --e-global-typography-accent-font-size: 20px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1em;
    --e-global-typography-7f517b0-font-family: "Inter";
    --e-global-typography-7f517b0-font-size: 24px;
    --e-global-typography-7f517b0-font-weight: 600;
    --e-global-typography-7f517b0-line-height: 1.2em;
    --e-global-typography-4e452f7-font-family: "Inter";
    --e-global-typography-4e452f7-font-size: 18px;
    --e-global-typography-4e452f7-font-weight: 600;
    --e-global-typography-4e452f7-line-height: 1.3em;
    --e-global-typography-997f697-font-family: "Inter";
    --e-global-typography-997f697-font-size: 18px;
    --e-global-typography-997f697-font-weight: 500;
    --e-global-typography-997f697-line-height: 1em;
    --e-global-typography-1660fa3-font-family: "Inter";
    --e-global-typography-1660fa3-font-size: 16px;
    --e-global-typography-1660fa3-font-weight: 600;
    --e-global-typography-1660fa3-line-height: 1.2em;
    --e-global-typography-4b416bd-font-family: "Inter";
    --e-global-typography-4b416bd-font-size: 42px;
    --e-global-typography-4b416bd-font-weight: 600;
    --e-global-typography-4b416bd-line-height: 1.2em;
    --e-global-typography-01acdab-font-family: "Inter";
    --e-global-typography-01acdab-font-size: 20px;
    --e-global-typography-01acdab-font-weight: 600;
    --e-global-typography-01acdab-line-height: 1.2em;
    --e-global-typography-8e0c2ec-font-family: "Inter";
    --e-global-typography-8e0c2ec-font-size: 12px;
    --e-global-typography-8e0c2ec-font-weight: 600;
    --e-global-typography-8e0c2ec-text-transform: uppercase;
    --e-global-typography-8e0c2ec-line-height: 1em;
    --e-global-typography-8e0c2ec-letter-spacing: 1.3px;
    --e-global-typography-a892a9f-font-family: "Inter";
    --e-global-typography-a892a9f-font-size: 12px;
    --e-global-typography-a892a9f-font-weight: 600;
    --e-global-typography-a892a9f-text-transform: uppercase;
    --e-global-typography-a892a9f-line-height: 1em;
    --e-global-typography-a892a9f-letter-spacing: 1.3px;
    --e-global-typography-a48ae84-font-family: "Inter";
    --e-global-typography-a48ae84-font-size: 14px;
    --e-global-typography-a48ae84-font-weight: 600;
    --e-global-typography-a48ae84-text-transform: uppercase;
    --e-global-typography-a48ae84-line-height: 1em;
    --e-global-typography-a48ae84-letter-spacing: 1.3px;
    --e-global-typography-919cf83-font-family: "Inter";
    --e-global-typography-919cf83-font-size: 32px;
    --e-global-typography-919cf83-font-weight: 600;
    --e-global-typography-919cf83-line-height: 1em;
    --e-global-typography-7f7fd94-font-family: "Inter";
    --e-global-typography-7f7fd94-font-size: 14px;
    --e-global-typography-7f7fd94-font-weight: 300;
    --e-global-typography-7f7fd94-line-height: 1.5em;
    --e-global-typography-6f01aa7-font-family: "Inter";
    --e-global-typography-6f01aa7-font-size: 16px;
    --e-global-typography-6f01aa7-font-weight: 400;
    --e-global-typography-6f01aa7-font-style: italic;
    --e-global-typography-6f01aa7-line-height: 1.5em;
    --e-global-typography-5702cc8-font-family: "Inter";
    --e-global-typography-5702cc8-font-size: 22px;
    --e-global-typography-5702cc8-font-weight: 400;
    --e-global-typography-5702cc8-font-style: italic;
    --e-global-typography-5702cc8-line-height: 1.5em;
    --e-global-typography-2260201-font-family: "Inter";
    --e-global-typography-2260201-font-size: 156px;
    --e-global-typography-2260201-font-weight: 600;
    --e-global-typography-2260201-line-height: 1em;
    --e-global-typography-ff23f0d-font-family: "Inter";
    --e-global-typography-ff23f0d-font-size: 52px;
    --e-global-typography-ff23f0d-font-weight: 600;
    --e-global-typography-ff23f0d-line-height: 1.2em;
    --e-global-typography-b31596a-font-family: "Inter";
    --e-global-typography-b31596a-font-size: 16px;
    --e-global-typography-b31596a-font-weight: 500;
    --e-global-typography-b31596a-line-height: 1.3em;
    --e-global-typography-b0e097a-font-family: "Inter";
    --e-global-typography-b0e097a-font-size: 16px;
    --e-global-typography-b0e097a-font-weight: 600;
    --e-global-typography-b0e097a-text-transform: none;
    --e-global-typography-b0e097a-line-height: 20px;
    --e-global-typography-b0e097a-letter-spacing: 0px;
    --e-global-typography-e126423-font-family: "Inter";
    --e-global-typography-e126423-font-size: 56px;
    --e-global-typography-e126423-font-weight: 600;
    --e-global-typography-e126423-text-transform: none;
    --e-global-typography-e126423-line-height: 74px;
    --e-global-typography-57b2537-font-family: "Inter";
    --e-global-typography-57b2537-font-size: 56px;
    --e-global-typography-57b2537-font-weight: 400;
    --e-global-typography-57b2537-text-transform: none;
    --e-global-typography-57b2537-line-height: 74px;
    --e-global-typography-b0d07ce-font-family: "Inter";
    --e-global-typography-b0d07ce-font-size: 20px;
    --e-global-typography-b0d07ce-font-weight: 400;
    --e-global-typography-b0d07ce-line-height: 30px;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-27 a {
    color: var( --e-global-color-accent);
}

.elementor-kit-27 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-kit-27 h1 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
}

.elementor-kit-27 h2 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    line-height: var( --e-global-typography-secondary-line-height);
}

.elementor-kit-27 h3 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-7f517b0-font-family), Sans-serif;
    font-size: var( --e-global-typography-7f517b0-font-size);
    font-weight: var( --e-global-typography-7f517b0-font-weight);
    line-height: var( --e-global-typography-7f517b0-line-height);
    letter-spacing: var( --e-global-typography-7f517b0-letter-spacing);
    word-spacing: var( --e-global-typography-7f517b0-word-spacing);
}

.elementor-kit-27 h4 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-4e452f7-font-family), Sans-serif;
    font-size: var( --e-global-typography-4e452f7-font-size);
    font-weight: var( --e-global-typography-4e452f7-font-weight);
    line-height: var( --e-global-typography-4e452f7-line-height);
    letter-spacing: var( --e-global-typography-4e452f7-letter-spacing);
    word-spacing: var( --e-global-typography-4e452f7-word-spacing);
}

.elementor-kit-27 h5 {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-997f697-font-family), Sans-serif;
    font-size: var( --e-global-typography-997f697-font-size);
    font-weight: var( --e-global-typography-997f697-font-weight);
    line-height: var( --e-global-typography-997f697-line-height);
    letter-spacing: var( --e-global-typography-997f697-letter-spacing);
    word-spacing: var( --e-global-typography-997f697-word-spacing);
}

.elementor-kit-27 h6 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-1660fa3-font-family), Sans-serif;
    font-size: var( --e-global-typography-1660fa3-font-size);
    font-weight: var( --e-global-typography-1660fa3-font-weight);
    line-height: var( --e-global-typography-1660fa3-line-height);
    letter-spacing: var( --e-global-typography-1660fa3-letter-spacing);
    word-spacing: var( --e-global-typography-1660fa3-word-spacing);
}

.elementor-kit-27 button,
.elementor-kit-27 input[type="button"],
.elementor-kit-27 input[type="submit"],
.elementor-kit-27 .elementor-button {
    font-family: var( --e-global-typography-a48ae84-font-family), Sans-serif;
    font-size: var( --e-global-typography-a48ae84-font-size);
    font-weight: var( --e-global-typography-a48ae84-font-weight);
    text-transform: var( --e-global-typography-a48ae84-text-transform);
    line-height: var( --e-global-typography-a48ae84-line-height);
    letter-spacing: var( --e-global-typography-a48ae84-letter-spacing);
    word-spacing: var( --e-global-typography-a48ae84-word-spacing);
    color: var( --e-global-color-e5c8540);
    background-color: var( --e-global-color-accent);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 40px 20px 40px;
}

.elementor-kit-27 button:hover,
.elementor-kit-27 button:focus,
.elementor-kit-27 input[type="button"]:hover,
.elementor-kit-27 input[type="button"]:focus,
.elementor-kit-27 input[type="submit"]:hover,
.elementor-kit-27 input[type="submit"]:focus,
.elementor-kit-27 .elementor-button:hover,
.elementor-kit-27 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #586F7C;
}

.elementor-kit-27 label {
    color: var( --e-global-color-primary);
    font-family: "Playfair Display", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.6em;
}

.elementor-kit-27 input:not([type="button"]):not([type="submit"]),
.elementor-kit-27 textarea,
.elementor-kit-27 .elementor-field-textual {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e2f0ef;
    border-radius: 5px 5px 5px 5px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width:1366px) {
    .elementor-kit-27 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-27 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-27 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
    }
    .elementor-kit-27 h3 {
        font-size: var( --e-global-typography-7f517b0-font-size);
        line-height: var( --e-global-typography-7f517b0-line-height);
        letter-spacing: var( --e-global-typography-7f517b0-letter-spacing);
        word-spacing: var( --e-global-typography-7f517b0-word-spacing);
    }
    .elementor-kit-27 h4 {
        font-size: var( --e-global-typography-4e452f7-font-size);
        line-height: var( --e-global-typography-4e452f7-line-height);
        letter-spacing: var( --e-global-typography-4e452f7-letter-spacing);
        word-spacing: var( --e-global-typography-4e452f7-word-spacing);
    }
    .elementor-kit-27 h5 {
        font-size: var( --e-global-typography-997f697-font-size);
        line-height: var( --e-global-typography-997f697-line-height);
        letter-spacing: var( --e-global-typography-997f697-letter-spacing);
        word-spacing: var( --e-global-typography-997f697-word-spacing);
    }
    .elementor-kit-27 h6 {
        font-size: var( --e-global-typography-1660fa3-font-size);
        line-height: var( --e-global-typography-1660fa3-line-height);
        letter-spacing: var( --e-global-typography-1660fa3-letter-spacing);
        word-spacing: var( --e-global-typography-1660fa3-word-spacing);
    }
    .elementor-kit-27 button,
    .elementor-kit-27 input[type="button"],
    .elementor-kit-27 input[type="submit"],
    .elementor-kit-27 .elementor-button {
        font-size: var( --e-global-typography-a48ae84-font-size);
        line-height: var( --e-global-typography-a48ae84-line-height);
        letter-spacing: var( --e-global-typography-a48ae84-letter-spacing);
        word-spacing: var( --e-global-typography-a48ae84-word-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-kit-27 {
        --e-global-typography-4b416bd-font-size: 36px;
        --e-global-typography-4b416bd-line-height: 1.2em;
        --e-global-typography-5702cc8-font-size: 18px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-27 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-27 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
    }
    .elementor-kit-27 h3 {
        font-size: var( --e-global-typography-7f517b0-font-size);
        line-height: var( --e-global-typography-7f517b0-line-height);
        letter-spacing: var( --e-global-typography-7f517b0-letter-spacing);
        word-spacing: var( --e-global-typography-7f517b0-word-spacing);
    }
    .elementor-kit-27 h4 {
        font-size: var( --e-global-typography-4e452f7-font-size);
        line-height: var( --e-global-typography-4e452f7-line-height);
        letter-spacing: var( --e-global-typography-4e452f7-letter-spacing);
        word-spacing: var( --e-global-typography-4e452f7-word-spacing);
    }
    .elementor-kit-27 h5 {
        font-size: var( --e-global-typography-997f697-font-size);
        line-height: var( --e-global-typography-997f697-line-height);
        letter-spacing: var( --e-global-typography-997f697-letter-spacing);
        word-spacing: var( --e-global-typography-997f697-word-spacing);
    }
    .elementor-kit-27 h6 {
        font-size: var( --e-global-typography-1660fa3-font-size);
        line-height: var( --e-global-typography-1660fa3-line-height);
        letter-spacing: var( --e-global-typography-1660fa3-letter-spacing);
        word-spacing: var( --e-global-typography-1660fa3-word-spacing);
    }
    .elementor-kit-27 button,
    .elementor-kit-27 input[type="button"],
    .elementor-kit-27 input[type="submit"],
    .elementor-kit-27 .elementor-button {
        font-size: var( --e-global-typography-a48ae84-font-size);
        line-height: var( --e-global-typography-a48ae84-line-height);
        letter-spacing: var( --e-global-typography-a48ae84-letter-spacing);
        word-spacing: var( --e-global-typography-a48ae84-word-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-27 {
        --e-global-typography-primary-font-size: 32px;
        --e-global-typography-secondary-font-size: 24px;
        --e-global-typography-text-font-size: 14px;
        --e-global-typography-accent-font-size: 18px;
        --e-global-typography-7f517b0-font-size: 20px;
        --e-global-typography-4e452f7-font-size: 16px;
        --e-global-typography-997f697-font-size: 16px;
        --e-global-typography-4b416bd-font-size: 26px;
        --e-global-typography-01acdab-font-size: 18px;
        --e-global-typography-a892a9f-font-size: 12px;
        --e-global-typography-a48ae84-font-size: 14px;
        --e-global-typography-919cf83-font-size: 28px;
        --e-global-typography-5702cc8-font-size: 18px;
        --e-global-typography-2260201-font-size: 96px;
        --e-global-typography-ff23f0d-font-size: 42px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-27 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-27 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
    }
    .elementor-kit-27 h3 {
        font-size: var( --e-global-typography-7f517b0-font-size);
        line-height: var( --e-global-typography-7f517b0-line-height);
        letter-spacing: var( --e-global-typography-7f517b0-letter-spacing);
        word-spacing: var( --e-global-typography-7f517b0-word-spacing);
    }
    .elementor-kit-27 h4 {
        font-size: var( --e-global-typography-4e452f7-font-size);
        line-height: var( --e-global-typography-4e452f7-line-height);
        letter-spacing: var( --e-global-typography-4e452f7-letter-spacing);
        word-spacing: var( --e-global-typography-4e452f7-word-spacing);
    }
    .elementor-kit-27 h5 {
        font-size: var( --e-global-typography-997f697-font-size);
        line-height: var( --e-global-typography-997f697-line-height);
        letter-spacing: var( --e-global-typography-997f697-letter-spacing);
        word-spacing: var( --e-global-typography-997f697-word-spacing);
    }
    .elementor-kit-27 h6 {
        font-size: var( --e-global-typography-1660fa3-font-size);
        line-height: var( --e-global-typography-1660fa3-line-height);
        letter-spacing: var( --e-global-typography-1660fa3-letter-spacing);
        word-spacing: var( --e-global-typography-1660fa3-word-spacing);
    }
    .elementor-kit-27 button,
    .elementor-kit-27 input[type="button"],
    .elementor-kit-27 input[type="submit"],
    .elementor-kit-27 .elementor-button {
        font-size: var( --e-global-typography-a48ae84-font-size);
        line-height: var( --e-global-typography-a48ae84-line-height);
        letter-spacing: var( --e-global-typography-a48ae84-letter-spacing);
        word-spacing: var( --e-global-typography-a48ae84-word-spacing);
        padding: 18px 32px 18px 32px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
}

@media(min-width:2400px) {
    .elementor-kit-27 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-27 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-27 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
    }
    .elementor-kit-27 h3 {
        font-size: var( --e-global-typography-7f517b0-font-size);
        line-height: var( --e-global-typography-7f517b0-line-height);
        letter-spacing: var( --e-global-typography-7f517b0-letter-spacing);
        word-spacing: var( --e-global-typography-7f517b0-word-spacing);
    }
    .elementor-kit-27 h4 {
        font-size: var( --e-global-typography-4e452f7-font-size);
        line-height: var( --e-global-typography-4e452f7-line-height);
        letter-spacing: var( --e-global-typography-4e452f7-letter-spacing);
        word-spacing: var( --e-global-typography-4e452f7-word-spacing);
    }
    .elementor-kit-27 h5 {
        font-size: var( --e-global-typography-997f697-font-size);
        line-height: var( --e-global-typography-997f697-line-height);
        letter-spacing: var( --e-global-typography-997f697-letter-spacing);
        word-spacing: var( --e-global-typography-997f697-word-spacing);
    }
    .elementor-kit-27 h6 {
        font-size: var( --e-global-typography-1660fa3-font-size);
        line-height: var( --e-global-typography-1660fa3-line-height);
        letter-spacing: var( --e-global-typography-1660fa3-letter-spacing);
        word-spacing: var( --e-global-typography-1660fa3-word-spacing);
    }
    .elementor-kit-27 button,
    .elementor-kit-27 input[type="button"],
    .elementor-kit-27 input[type="submit"],
    .elementor-kit-27 .elementor-button {
        font-size: var( --e-global-typography-a48ae84-font-size);
        line-height: var( --e-global-typography-a48ae84-line-height);
        letter-spacing: var( --e-global-typography-a48ae84-letter-spacing);
        word-spacing: var( --e-global-typography-a48ae84-word-spacing);
    }
}